.wrap {
  max-width: 800px;
  max-height: 500px;
  margin: 20px auto;
}
.weather-app {
  background: url("../images/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  border: solid 2px rgba(0, 0, 0, 0.5);
}
.box {
  max-width: 400px;
  max-height: 327px;
  background-color: rgba(0, 0, 0, 0.2);
}
.frame {
  width: 160px;
  height: 160px;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  color: #fff;
}
.info {
  padding: 12px 20px;
  margin-top: 50px;
  text-align: center;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 90px;
  padding: 0;
  position: relative;
  top: -136px;
  left: 183px;
}

h3 small {
  position: relative;
  top: -45px;
  right: 18px;
  font-size: 25px;
}

h4#condition {
  text-transform: capitalize;
  position: relative;
  top: -148px;
  left: 177px;
}
h4.day-forecast {
  font-size: 20px;
  padding-left: 20px;
}
.extra-information {
  position: relative;
  top: -130px;
  text-align: center;
}
.extra-information img {
  margin: 0 auto;
}
#main-icon {
  display: inherit;
  height: 140px;
  width: 140px;
  margin: 0 auto;
  padding-top: 15px;
}

#weekly {
  box-sizing: content-box;
  width: 90%;
  margin: 0 auto;
}
#weekly .rounded-pill {
  height: 130px;
  margin: 20px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.weather-daily-date {
  font-family: "Lora", serif;
  font-size: small;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 11px;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 10px auto;
}
.search-box {
  position: relative;
  top: -44em;
  margin: 0 20px;
  background: #fff;
  height: 40px;
  width: 660px;
}
.search-bar {
  height: fit-content;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: none;
  outline: none;
  float: left;
  color: #060606;
  font-size: 16px;
  line-height: 20px;
}

.search-button img {
  width: 25px;
  position: relative;
  bottom: 5px;
}
.location {
  position: relative;
  height: 35px;
  top: -46.7em;
  left: 684px;
}
#refresh {
  position: relative;
  height: 35px;
  top: -46.7em;
  left: 688px;
  transition: all 100ms ease;
}
#refresh:hover {
  opacity: 40%;
}
.thermometer {
  height: 52px;
  width: 68px;
}
.humidity-icon {
  height: 52px;
  width: 68px;
}
.wind-icon {
  height: 52px;
  width: 68px;
}
