.container {
  max-width: 800px;
  max-height: 700px;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(12, 133, 208) 24.5%,
    rgb(25, 128, 192) 66%
  );
}
.info {
  font-family: "Lora", serif;
  color: #fff;
  padding: 10px;
}
h3 {
  font-size: 33px;
}

h4 {
  font-family: "Lora", serif;
  color: #fff;
}
h4#condition {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 20px auto 0px;
  top: 10px;
}
h4#temperatures {
  position: relative;
  text-align: center;
  padding: 2px 0;
  margin: 10px auto 0;
  top: 5px;
}
h4#humidity {
  position: relative;
  top: 92px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}
h4#wind {
  position: relative;
  top: 92px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.box {
  width: 310px;
  height: 330px;
  box-sizing: content-box;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 90%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  background-image: url("../images/sunny.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}
img.dog {
  position: relative;
  height: 155px;
  bottom: 4px;
  right: 48px;
}
.row .rounded-pill {
  width: 40px;
  height: 130px;
  box-sizing: content-box;
  margin: auto 5px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out;
}
.row .rounded-pill:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
h5 {
  font-family: "Lora", serif;
  font-size: small;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
.icon {
  width: 40px;
  height: 40px;
  margin: 10px auto;
}
.search-box {
  position: absolute;
  top: 2%;
  right: 28%;
  background: #fff;
  height: 40px;
  width: 280px;
  border-radius: 40px;
  padding: 10px;
}
.search-bar {
  height: fit-content;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: none;
  outline: none;
  float: left;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.search-button img {
  width: 25px;
  position: relative;
  bottom: 4px;
}

.location {
  position: absolute;
  top: 2%;
  right: 25%;
  height: 40px;
}
